body{
    background-color:rgb(243, 239, 245);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(201, 228, 247);
    position: fixed;
    top: 0;
    width:100%;
    height: 60px;

    margin-top: -4px;
}

li {
    float: right;
}

li a {
    display: block;
    color: rgb(3, 3, 3);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(189, 157, 70);
}

.active {
    background-color: rgb(230, 199, 225);
}
.img1{
    width: 100%;
    height: 345px;

}
.h1{
    margin-left:90px;
     color: rgb(235, 17, 180); 
     font-size:80px;
}

.p1{
    color: rgb(18, 238, 66); 
    font-size:25px; 
    margin-left:40px;
    margin-top:-30px;
}
.h2{
    margin-left: 180px;
    margin-top: 25px;
    margin-left: 180px; 
    font-family: Bookman
}
.div1{
    background-color: rgb(240, 233, 233);
    width: auto;
    height: 1850px;
    padding-top:10px;
    border-left:60px solid rgb(240, 242, 245); 
    border-right:60px solid rgb(240, 242, 245);
    
}

.divnafi1{

    height: 150px;
    width: auto;
    background-color: rgb(36, 184, 134);
    float: left;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 560px;
    margin-top: 10px;

}
.divmez{
    background-color: rgb(238, 228, 228);
    border-left:60px solid rgb(240, 242, 245); 
    border-right:60px solid rgb(240, 242, 245);
    margin-top: -20px;
    height: 200px;
}
.h9{
    font-size: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}


}
div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 400px;
}

div.desc {
    padding: 15px;
    text-align: center;
}


.h3in1{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: blue;

}
    



.div2{
    background-color: rgb(271, 443, 743);
    width: auto;
    height: 450px;
    padding-top:10px;
    border-left:60px solid rgb(240, 242, 245); 
    border-right:60px solid rgb(240, 242, 245);
}
.div3{
    background-color: rgb(271, 443, 743);
    width: auto;
    height: 450px;
    margin-top: -26px;
    padding-top:10px;
    border-left:60px solid rgb(240, 242, 245); 
    border-right:60px solid rgb(240, 242, 245);
}
.div9{
    background-color: rgb(271, 443, 743);
    width: auto;
    height: 450px;
    padding-top:10px;
    border-left:60px solid rgb(240, 242, 245); 
    border-right:60px solid rgb(240, 242, 245);
}
.foot{
    background-color: rgb(64, 230, 14);
    height: 150px;
    color: red;
    padding-top:1px;
    margin-bottom: 3px; 
    margin-left: -7.6px;
    margin-right: px;
    border-left:60px solid rgb(64, 230, 14); 
    border-right:60px solid rgb(64, 230, 14);
    margin-top:px;
    padding-left: 650px;
}
.foot a{
    margin-left: -120px;
    padding-top: 30px;
    padding-left: 10px;

}
.footin{
    height: 37px;
    width: auto;
    margin-left: -810px;
    margin-right: -59px;
    background-color: rgb(25, 142, 189);
    margin-top: 70px;
}
.hf{
    color: rgb(14, 4, 12);
    margin-left: 450px;
    font-size: 16px;
    
}
