
body {
    background-color: rgb(240, 242, 245);
}


#ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(201, 228, 247);
    position: fixed;
    top: 0;
    width:100%;
    height: 80px;
    margin-left: -20px;

    
    
}

#l {
    float: right;
    list-style-type:none;
    background-color: rgb(213, 235, 235);
    margin-right: 10px;
 
}

#l a {
    display: block;
    color: rgb(3, 3, 3);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(189, 157, 70);
}

.active {
    background-color: rgb(230, 199, 225);
}
#img1{
    width: 100%;
    height: 645px;

}
#div2{

width: auto;
height: 600px;
border-left: 60px solid rgb(240, 242, 245); 
border-right:60px solid rgb(240, 242, 245); 
background-color: aliceblue;
}


#img2{
    border-radius: 50%;
    height: 220px;
    width: 220px;
    margin-left:470px;
    margin-top: 8px;
}
#p1{
    color:rgb(5, 5, 4); 
    margin-left: 250px;
    font-size:2vw;
}
#div3{
    background-color: rgb(226, 236, 236);
    width: auto;
    height: 550px;
    padding-top:10px;
    
    border-left:60px solid rgb(240, 242, 245); 
    border-right:60px solid rgb(240, 242, 245); 
    border-top:2px solid rgb(226, 231, 240); 
    
    
}
#div3in{
    width: 840px;
    height: 380px;
    background-color: rgb(226, 236, 236);
    float: left;
}
#pre3{
    float: left;
    margin-left: -178px;
    font-size: 18px;
}
#divimage{
    float: left;
    width: 331px;
    margin-top: -179px;
    height: 560px;
    background-color: rgb(247, 236, 217);
    border-left:2px solid rgb(231, 247, 247); 
    border-right:2px solid rgb(206, 231, 255); 
    
    

}
#divcse{
    font-size: 18px; 
    color:rgb(41, 146, 20);
     font-family: Arial, Helvetica, sans-serif;
     margin-left: 10px;
}
#div3img1{
    height: 80px;
    width: 100px;
    margin-top: -15px;
}
#img3{
   
    height: 150px;
    width: 180px;
    margin-left: 10px;
}
#div4{
    background-color: rgb(45, 238, 238);
    width: auto;
    height: 650px;
    padding-top:10px;
    border-left:60px solid rgb(240, 242, 245); 
    border-right:60px solid rgb(240, 242, 245); 


    
}
#div4in1{
    background-color: rgb(42, 143, 143);
    height: 450px;
    width: 420px;
    float: left;
    font-size: 25px;
    margin-left: 30px;


}
#div4in2{
    background-color: rgb(234, 241, 241);
    height: 450px;
    width: 420px;
    float: left;
    margin-left: 300px;
    
    font-size: 25px;
    

}
#ul3{
    list-style-type:none
}

#ulimage12{
    margin-left: 180px;
    height: 50px;
    width: 50px;
}
#ulimage11{
    margin-left: 5px;
    height: 50px;
    width: 50px;
}

#ulimage2{
    margin-left: 180px;
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

#ulimage22{
    margin-left: 35px;
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

#imgage3{
    margin-left: 220px;
    height: 50px;
    width: 50px;
}
#ulimage4{
    margin-left: 240px;
    height: 50px;
    width: 50px;
}
#ulimage5{
    margin-left: 100px;
    height: 50px;
    width: 50px;
}
#ulimg6{
    margin-left: 190px;px;
    height: 50px;
    width: 50px;
}

#ulimage7{
    margin-left: 220px;
    height: 50px;
    width: 50px;
}
#ulimage8{
    margin-left: 220px;
    height: 50px;
    width: 50px;
}
#ulimage9{
    margin-left: 110px;
    height: 50px;
    width: 50px;
}

#div5{
    background-color:rgb(255, 255, 255);
    width: auto;
    height: 590px;
    padding-top:10px;
    border-left:60px solid rgb(246, 247, 248); 
    border-right:60px solid rgb(242, 243, 245);
    
    
}
#div5img1{
    height: 100px;
    width: 150px;
    margin-left: 40px;
    padding-top: 30px;

}
#help{
    background-color: rgb(211, 223, 223);
    height: 100px;
    width: 250px;
    margin-left: 30px;
}
#helpimg{
    height: 50px;
    width: 50px;
    margin-top: 20px;
}
#pre2{
    color: rgb(18, 106, 184);
    float: left;
    font-size: 20px;
    margin-left: -10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}
#div5in{
    height: 600px;
    width: 336.2px;
    margin-top: -129px;
    background-color:rgb(235, 231, 240);
    float:left;
    border-left:2px solid rgb(240, 242, 245); 
    border-right:2px solid rgb(240, 242, 245);
    margin-left: 273px;



}
#div6{
    height: 500px;
    width: auto;
    background-color: rgb(212, 218, 201);
    margin-top: -27px;
    
    border-left:60px solid rgb(246, 247, 248); 
    border-right:60px solid rgb(242, 243, 245);
}
#p6{
    color: black;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#foot{
    background-color: rgb(64, 230, 14);
    height: 150px;
    color: red; 
    margin-left: -7.6;
    margin-right: -7.6px;
    border-left:60px solid rgb(64, 230, 14); 
    border-right:60px solid rgb(64, 230, 14);
    padding-left: 400px;
    padding-top: 20px;
}

#footin{
    height: 37px;
    width: auto;
    margin-left: -460px;
    margin-right: -60px;
    background-color: rgb(13, 122, 224);
    margin-top: 60px;
}
#hf{
    color: rgb(14, 4, 12);
    margin-left: 450px;
    font-size: 16px;
    
}